ReadMe.txt
TestResults
Application
.vs
TestStore.Implementation/bin
TestStore.Tests/bin
TestStore.Web/bin
TestStore.Web/obj
TestStore.Tests/obj
TestStore.Implementation/obj
.vs/TestStore/
TestStore.Domain/obj
TestStore.Domain/bin
Application/obj
Application/bin
