@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container mx-auto ">
    <article>
        <h1>Data management</h1>
    </article>
    <section class="row mb-3" id="table-buttons">
        <!-- Display table buttons for displaying their data-->
    </section>
    <article class="mb-3">
        <h3 id="table-name"></h3>
    </article>
    <section id="table-data">
        <!--Here display data of the selected table-->
    </section>
</section>

<script type="module">
    $(document).ready(function(e){
        function Table(name, controller){
            this.name = name,
            this.controller = controller
        }
        const tables = [
            new Table("Products' management", "products"),
            new Table("Brands' management", "brands"),
            new Table("Categories' management", "categories"),
            new Table("Navigation links' management", "navlinks"),
            new Table("Roles' management", "roles"),
            new Table("Specifications management", "specifications"),
            new Table("Specifications values management", "specificationvalue")
        ];
        var selectedTable = null;
        displayTableButtons();
        appendClickEventToTableButtons();
        function displayTableButtons(){
           let html = "" ;
            for(let t of tables){
                html += `
                <article class='col-12 col-md-3 m-1'>
                <a data-controller="${t.controller}" data-name="${t.name}" href="#" class="btn btn-primary table-button">${t.name}</a>
                </article> 
                `;
            }
            $("#table-buttons").html(html);
        }
        function appendClickEventToTableButtons(){
            $(".table-button").click(function(e){
                e.preventDefault();
                // send request to server
                selectedTable = tables.filter(x => x.controller == this.getAttribute("data-controller"))[0];
                const createRecordButton = `
                <a href="${this.getAttribute("data-controller")}/create" class="btn btn-primary" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg>
 Create new record</a>
                `;
                $("#table-name").html(this.getAttribute("data-name") + createRecordButton);
                fetchData(this.getAttribute("data-controller"));
            });
            function fetchData(controller){
                $.ajax({
                    url : "http://localhost:5257/" + controller + "/get",
                    success : function(result){
                        displayData(result);
                    },
                    error : function(e){
                        console.error(e);
                    }
                })
            }
            const forbidenColumns = [
                "id",
                "specifications",
                "categoryId",
                "brandId",
                "specificationId",
                "newValue"

            ];
            function displayData(data){
                if(data && data.length == 0){
                    $("#table-data").html("There are no data here.");
                    return;
                }
                let html = `
                <table class="table table-striped">
                <thead> <tr>`;
                for(let p in data[0]) {
                    if(!forbidenColumns.includes(p)){
                        html += `<th>${p}</th>`;
                    }
                }
                html += `<th></th><th></th></tr></thead>
                <tbody>`;
                for(let e of data){
                        html += "<tr>";
                    for(let p in e){
                        if(!forbidenColumns.includes(p)){
                            if(p == "imageName"){
                            html += `
                                <td width="70px"><img src="/images/${e[p]}" class="img-fluid"/></td> 
                            `;
                            }else {
                            html += `
                                <td>${e[p]}</td> 
                            `;
                            }
                        }
                    }
                    if(selectedTable.controller === "specificationvalue"){
                        html += `
                        <td><a href="/${selectedTable.controller}/Edit/?specificationId=${e.specificationId}&value=${e.value}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a></td> 
                        <td><a href="#" data-id="${e.id}" data-controller="${selectedTable.controller}" class="delete-record"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></a></td> 
                        </tr>`;
                    }else {
                        html += `
                        <td><a href="/${selectedTable.controller}/Edit/${e.id}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a></td> 
                        <td><a href="#" data-id="${e.id}" data-controller="${selectedTable.controller}" class="delete-record"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></a></td> 
                        </tr>`;
                    }
                }
                html +=`</tbody>
                </table>
                `;
                
                $("#table-data").html(html);
                appendClickEventToDeleteIcons();
            }

            function appendClickEventToDeleteIcons(){
                $(".delete-record").click(function(e){
                    e.preventDefault();
                    $.ajax({
                        url : "http://localhost:5257/" + this.getAttribute("data-controller") + "/delete/" + this.getAttribute("data-id"),
                        method : "DELETE",
                        success : function(res){
                            fetchData(selectedTable.controller);
                        },
                        error : function(e){
                            console.error(e);
                        }
                    })
                });
            }
        }
    });
</script>
