@using TestStore.Application.Dto;
@model SpecificationDto;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container mx-auto py-3">
    <article>
        <h1>Edit a  specification.</h1>
     </article>
     <article >
        <form action="#" method="POST" name="updateSpecificationForm">
            <section class="row">
                <article class="col-12 mb-3">
                    <input type="hidden" value="@Model.Id" id="specificationId"/>
                    <input class="form-control" placeholder="Enter specification name" value="@Model.Name" id="specificationName"/>
                    <div id="specificationError" class="alert alert-danger my-2 d-none">
                        <p></p>
                    </div>
                </article>
                <article class="col-12 mb-3">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </article>
            </section>
        </form> 
     </article>
</section>
<section class="container mx-auto d-flex justify-content-end align-items-end pt-3">
    <div class="toast" specification="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Edit specification</strong>
      </div>
      <div class="toast-body">
         You have edited a  specification. 
      </div>
    </div>
</section>
<script type="module">
    import validation, {Validator} from "/js/validation.js";
    import {showToast} from "/js/toast.js";
    const validator = new Validator();
    validator.builder.addSpecification(specificationName);

    document.updateSpecificationForm.addEventListener("submit", function(e){
        e.preventDefault();
        validation.hideErrorBlocks(["#specificationError"]);
        var result = validator.validateForm();
        if(result.isValid){
            $.ajax({
                url : "http://localhost:5257/specifications/update",
                data : {
                    name : specificationName.value,
                    id : specificationId.value
                },
                method : "PUT",
                success : function(result){
                    showToast();
                },
                error : function(e){
                    console.error(e);
                }
            })
        }else {
            validation.displayErrorMessages(result.errors);
        }
    });
</script>
